<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章列表</title>
</head>
<body>
	<?php include 'public_side.html'; ?>
	<table>
		<thead>
			<tr>
				<td>序号</td>
				<td>日期</td>
				<td>标题</td>
				<td>分类</td>
				<td>回复</td>
				<td>状态</td>
			</tr>
		</thead>
		<tbody>
		<?php foreach($rs as $k=>$v){
			echo '<tr>';
			echo '<td>'.$v['art_id'].'</td>';
			echo '<td>'.gmdate('Y/m/d',$v['pubtime']).'</td>';
			echo '<td>'.$v['title'].'</td>';
			echo '<td>'.$catname[$v['cat_id']].'</td>';
			echo '<td>'.$v['comm'].'</td>';
			echo '<td>';
			echo '<a href="artedit.php?art_id='.$v['art_id'].'">编辑</a>';
			echo '<a class="del" href="artdel.php?art_id='.$v['art_id'].'">删除</a>';
			echo '</tr>';
		}?>
		</tbody>
		
	</table>
<script>
var del = document.getElementsByClassName('del');
for(var i =0;i<del.length;i++){
	del[i].onclick = function(){
		var conf = confirm('确定删除么?');
		if (!conf) {
			return false;
		}
	}
}

</script>
</body>
</html>