/*  my class for commen style use */
.ov{
  overflow: hidden;
}
.re{
  position: relative;
}
.ab{
  position: absolute;
}
.ct{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
      -ms-transform: translateX(-50%) ;
          transform: translateX(-50%) ;
}
.ho-ve-ct{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.hide{
  display: none;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.bo{
  border: 1px solid #d2d2d2;
}
.mt{
  margin-top: 30px;
}
.mt1{
  margin-top: 20px;
}
/* bigger text */
.bt{
  font-size:20px;
}

/*  base style */
ul,li{
  list-style: none;
  margin: 0;
  padding:0;
}


@dis : 90px;

/* blog additional style */

.ion-social-wordpress:before {
    vertical-align: -1px;
    font-size: 19px;
}
.header-links li{
	margin-left: 10px;
}
.cat{
  width: 150px;
	left: -150px;
	top: 155px;
  li{
    padding-right: 25px;
    text-align: right;
  }
}